{% extends 'base.jinja2' %}

{% block header %}
  <header>
    <h1 class="paste-header">{{ title }}</h1>
  </header>
{% endblock %}

{% block main %}
  <main class="paste-detail">
    <h2>Questão 2</h2>
    <ul>
      <li>{{ paste.titulo }}</li>
      <li>{{ paste.linguagem }}</li>
      <li>{{ paste.conteudo }}</li>
  </main>
{% endblock %}